@keyframes opacityDiferencial {
    0% {
        opacity: 1;
    } 50% {
        opacity: .8;
    } 100% {
        opacity: 1;
    }   
}

@keyframes showInterface {
    100% {
        left: 0;
    }
}

@keyframes removeInterface {
    100% {
        left: 100%;
    }
}

@keyframes loader {

    0% {
        opacity: 1;
    } 50% {
        opacity: .6;
    } 100% {
        opacity: 1;
    }

}

@keyframes moveLeft {

    5% {
        transform: translateX(5%);
    } 100% {
        transform: translateX(-100%);
    }   

}

@keyframes moveRight {

    100% {
        transform: translateX(0)
    }   

}