@keyframes levitate {
    0% {
        transform: translateY(5px);
    } 50% {
        transform: translateY(-5px);
    } 100% {
        transform: translateY(5px);
    } 
}

@keyframes flash {

    0% {
        opacity: .1;
        background-color: white;
    } 25% {
        opacity: 1;
    } 50% {
        opacity: .1;
    } 100% {
        opacity: 1;
    }
    
}

@keyframes verticalSlide {

    0% {
        top: 0;
    } 100% {
        top: -235%;
    }
    
}